
.container {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--w3-nav-bar-height);    
    padding: .2rem 0;
    background-color: var(--w3-global-bg);

    .menu {
        padding-left: 1rem;
    }
}